body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

/* HEADER STYLES */
/* .header div {
  background-image: url(../src/assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  display: flex;
  padding: 20px;
} */

.header div {
  height: 150px;
  display: flex;
  padding: 20px;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8);
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

  @-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.nav {
  background-color: black;
  border-top: 3px solid black;
}

.title {
  justify-content: space-between;
  align-items: center;
}

.me-logo {
  display: block;
  height: 140px;
  width: auto;
  border: 1px solid rgba(255,255,255,0);
  transition: border 0.5s ease-in-out;
}

.me-logo:hover {
  /* transition-duration: 0.5s; */
  border: 10px rgba(255,255,255,0) solid;
}

.title h2 {
  background-color: black;
  border: 3px solid white;
  border-radius: 5px;
  align-self: flex-end;
  padding: 5px;
}

.title h2 a {
  text-decoration: none;
  transition: color 1s ease-in-out;
}

.title h2 a:hover {
  color: red;
}

.socials {
  border: 3px solid white;
  border-radius: 5px;
  align-self: flex-end;
}

/* END HEADER STYLES */

/* FOOTER STYLES */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
}

/* END FOOTER STYLES */

.homepage {
  justify-content: space-evenly;
  padding: 10px;
}

.homepage div {
  background-color:cornflowerblue;
  border: 1px black solid;
  border-radius: 5px;
  padding: 5px;
  margin: 15px;
}

.homepage div:hover {
  background-color: white;
  border: 75px white solid;
  height: 75px;
  transition-duration: 0.4s;
}

/* ABOUT ME PAGE */
.about-me {
  padding: 15px;
  margin: 15px;
}

.about-me img {
  height: 300px;
  border-radius: 50%;
  width: auto;
}

.about-me div {
  padding: 25px;
}

/* PROJECTS PAGE STYLES */
.projects {
  flex-wrap: wrap;
  padding: 20px;
}

.project {
  flex: 2 30%;
  background-color:cornflowerblue;
  border: 1px black solid;
  border-radius: 5px;
  padding: 5px;
  margin: 15px;
}

.project:hover {
  background-color: rgba(100, 149, 237, 0.5);
  border: 5px white solid;
  transition-duration: 0.5s;
}

.project-div {
  border: 1px solid;
}

/* MODAL STYLES */
.modalBackdrop {
	background: rgba(0, 0, 0, .65);
  /* height: 700px; */
  width: auto;
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
  text-align: center;
}

.modalContainer {
	background: darkgray;
  border: 2px black solid;
	border-radius: 15px;
  box-shadow: 0 0 50px 20px white;
	max-width: 75%;
	margin: 50px auto;
	padding: 15px;
	width: 90vw;
  height: auto;
}

.modal-title {
  margin-right: 5%;
  margin-left: 5%;
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 10px;
  border-bottom: 3px solid black;
}

.modalContainer img {
  /* height: auto; */
  border: 1px black solid;
  border-radius: 15px;
  max-width: 75%;
  max-height: 75%
}

.modalContainer button {
  margin: 0 5px 0 5px;
}

.modalContainer a {
  text-decoration: none;
  border: 2px rgba(255 255 255 0.1) solid;
  color: white;
}

.modalContainer button:hover {
  border: 2px white solid;
  background-color: darkblue;
  transition-duration: 1s;
}

/* END MODAL STYLES */



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */ 
@media screen and (max-width: 900px) {
  .header div {
    height: 150px;
    display: flex;
    padding: 20px;
  }
  
  .title {
    justify-content: space-between;
    align-items: center;
  }
  
  .title h2 {
    background-color: black;
    border-radius: 5px;
    align-self: flex-end;
  }
  
  .title h2 a {
    text-decoration: none;
  }
  
}

/* MEDIA QUERY FOR TABLETS AND SMALLER  */
@media screen and (max-width: 768px) {
  .project {
    padding: 20px;
    flex: 1 100%;
    text-align: center;
  }

  footer {
    position: relative;
    padding: 0;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .header div {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  header h2 {
    display: none;
  }

  .socials {
    display: none;
  }

  nav ul li {
   flex: 1 100%;
   text-align:center;
  }

  .about-me {
    flex-wrap: wrap;
    text-align: center;
  }

  .about-me div {
    flex: 1 100%;
    padding: 5px;
  }

  .about-me img {
    height: 200px;
    border-radius: 50%;
    width: auto;
    margin: 15px;
  }
}