body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HEADER STYLES */
.header div {
  height: 150px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.nav {
  background-color: black;
}

/* END HEADER STYLES */

/* FOOTER STYLES */
footer {
  background-color: grey;
  height: 50px;
  display: flex;
  align-items: center;
}

/* END FOOTER STYLES */
